﻿@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    background: 0 0;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    height: 350px;
    width: 713px;
}
#footer .content, .page-nav, .fboxes, .hentry, .postwrap, #highlight, .widget, #sidebar #accordion, #content .wp-pagenavi, #content .wp-pagenavi a, #content .wp-pagenavi .current, #featurenav a, #featurenav span.playpause, #featurenav.thumb_nav a span {
    border-radius: 5px 5px 5px 5px;
}
body {background: url("images/back-gradient.jpg") repeat-x scroll left top #75CE7E;color: #333333;font-size: 12px;font-size-adjust: none;font-style: normal;font-variant: normal;font-weight: normal;line-height: 18px; font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;}
h3 {
    font-size: 24px;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}
h3, h4, h5 {
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}
.vs-form h4 {
    font-size: 1.3em;
}
ol {
    list-style-type: decimal;
    margin: 5px 0 15px;
    padding-left: 20px;
}
P {
    margin: 10px 0;
}
#wrapper {
    margin: 0 auto;
    padding-bottom: 3em;
    position: relative;
    width: 960px;
}
.outside {
    border-radius: 5px 5px 5px 5px;
}
.nav-icon {
    float: right;
    margin: 13px 0 0 8px;
}
.outside {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/post-bg.png") repeat-x scroll left bottom #FFFFFF;
    border-color: #E4E4E4 #CCCCCC #BBBBBB;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    clear: both;
    margin-bottom: 10px;
}
.inside {
    padding: 30px;
}
.inside_left {
    float: left;
    text-align: left;
    width: 65%;
}
.inside_right {
    float: right;
}
.inside_full {
    float: left;
    text-align: left;
    width: 100%;
}
.inside ul {
    list-style-type: none;
    margin: 5px 0 15px;
    padding-left: 20px;
}
.inside_no_padding {
    padding: 0;
}
.inside_third {
    float: left;
    padding: 30px;
    width: 27%;
}
.inside_middle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #EAEAEA;
    border-image: none;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    border-style: none solid;
    border-width: 0 1px;
}
.clear_all {
    clear: both;
}
.dash .inside_left {
    float: left;
    text-align: left;
    width: 50%;
}
.dash .inside_right {
    float: right;
    text-align: left;
    width: 45%;
}
.fboxes {
    background: url("images/post-bg.png") repeat-x scroll left bottom #FFFFFF;
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
}
.vs-form .vs-row {
    clear: both;
    float: none;
    margin: 5px 0 15px;
    padding: 5px 5px 5px 20px;
}
.vs-form .submitbttn {
    padding: 0;
}
.vs-form ul li {
    margin-top: 1em;
}
.vs-form select {
    margin-right: 10px;
}
.vs-form .vs-col {
    float: left;
    margin-right: 20px;
}
#vsMessageText textarea {
    padding: 5px;
}
.button, input[type="submit"], .submit, .cform input.sendbutton {
    background: url("http://www.bellybuds.com/voiceshare/images/nav-sprite-default.png") repeat-x scroll 0 -144px #E5E5E5;
    border: 1px solid #AAAAAA;
    color: #333333;
    font-family: arial,helvetica;
    font-weight: bold;
    margin: 0;
    padding: 5px 5px 4px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.searchform .right {
    background: url("http://www.bellybuds.com/voiceshare/images/search-rightcap-trans.png") no-repeat scroll right top transparent;
    display: block;
    height: 29px;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
}
.right {
    float: right;
}
#morefoot .searchform {
    float: left;
}
.searchform {
    float: right;
    font-size: 10px;
    margin: 3px 5px 0 0;
    padding: 0;
    position: relative;
    width: 200px;
}
.searchform .left {
    background: url("http://www.bellybuds.com/voiceshare/images/search-leftcap-trans.png") no-repeat scroll left top transparent;
    display: block;
    height: 29px;
    left: 0;
    position: absolute;
    top: 0;
    width: 33px;
}
.left {
    float: left;
}
.searchform .s {
    background: url("http://www.bellybuds.com/voiceshare/images/search-bar-trans.png") no-repeat scroll center top transparent;
    border: medium none;
    color: #333333;
    height: 28px;
    margin: 0;
    overflow: hidden;
    padding: 8px 0;
    position: absolute;
    right: 13px;
    top: 0;
    width: 163px;
}
.searchform .searchsubmit {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 24px;
    line-height: 1px;
    margin: 0;
    text-indent: -999%;
    width: 24px;
}
.button, input[type="submit"], .submit, .cform input.sendbutton {
    background: url("http://www.bellybuds.com/voiceshare/images/nav-sprite-default.png") repeat-x scroll 0 -144px #E5E5E5;
    border: 1px solid #AAAAAA;
    color: #333333;
    font-family: arial,helvetica;
    font-weight: bold;
    margin: 0;
    padding: 5px 5px 4px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.button, input[type="submit"], .submit, #searchform input#searchsubmit {
    background: url("../images/lightgrayup.png") repeat-x scroll left top #E5E5E5;
    border-color: #DEDEDE #BBBBBB #BBBBBB #DEDEDE;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    margin: 0;
    padding: 2px 3px 1px 5px;
}
input {
    background: url("http://www.bellybuds.com/voiceshare/images/form-field-bg.gif") no-repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
    border-style: solid;
    border-width: 1px;
    font-size: 88%;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    padding: 5px 3px 3px 5px;
}
.button, #btnSaveSend {
    font-size: 110% !important;
}
#profile_bar {
    background: none repeat scroll 0 0 #F1F1F1;
    padding: 5px;
}
#profile_bar li {
    display: inline;
    list-style: none outside none;
    padding: 5px;
}
.profile_table .itemtitle {
    margin-bottom: 10px;
}
.profile_table, .all_saved_content {
    padding: 10px;
}
.profile_table .infotable tr {
    padding: 10px;
}
.profile_table .infotable td {
    border-bottom: 1px solid #D1D1D1;
}
.fcol {
    display: inline;
    float: left;
    padding: 0 18px;
    text-align: left;
    width: 152px;
}
.footer a {
    color: #444444 !important;
    font-size: 0.9em;
}
.footer h3 {
    font-size: 1em;
    font-weight: bold;
}
.footer li {
    list-style-type: none;
    margin: 0;
    padding-left: 0 !important;
}
.footer ul {
    padding-left: 0 !important;
}
.footer {
    font-size: 11px;
    padding-top: 20px;
}
.footer li {
    line-height: 17px;
    margin-bottom: 5px;
}