﻿#fg_membersite fieldset {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    margin: 100px auto auto;
    padding: 20px;
    width: 230px;
}
#fg_membersite legend, #fg_membersite h2 {
    color: #333333;
    font-family: Arial,sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}
#fg_membersite label {
    font-family: Arial,sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
#fg_membersite input[type="text"], #fg_membersite textarea, #fg_membersite input[type="password"] {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 0.8em;
    line-height: 140%;
    padding: 3px;
}
#fg_membersite input[type="text"], #fg_membersite input[type="password"] {
    height: 18px;
    width: 220px;
}
#fg_membersite #scaptcha {
    height: 18px;
    width: 60px;
}
#fg_membersite input[type="submit"] {
    height: 30px;
    padding-left: 0;
    width: 100px;
}
#fg_membersite textarea {
    height: 120px;
    width: 310px;
}
#fg_membersite input[type="text"]:focus, #fg_membersite textarea:focus {
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    color: #000000;
    font-weight: bold;
}
#fg_membersite .container {
    margin-bottom: 10px;
    margin-top: 8px;
}
#fg_membersite .error {
    background-color: #EBF8EE;
    color: #006600;
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.9em;
}
#fg_membersite #register_password_errorloc {
    clear: both;
}
#fg_membersite fieldset#antispam {
    border-color: #EEEEEE -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px 0 0;
    padding: 2px;
    width: 350px;
}
#fg_membersite fieldset#antispam legend {
    color: #333333;
    font-family: Arial,sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
#fg_membersite .short_explanation {
    color: #333333;
    font-family: Arial,sans-serif;
    font-size: 0.8em;
}
#fg_membersite .spmhidip {
    display: none;
    height: 3px;
    width: 10px;
}
#fg_membersite #fg_crdiv {
    font-family: Arial,sans-serif;
    font-size: 0.3em;
    opacity: 0.2;
}
#fg_membersite #fg_crdiv p {
    display: none;
}
#fg_membersite_content li {
    font-family: Arial,sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}
#fg_membersite_content {
    font-family: Arial,sans-serif;
    font-size: 0.9em;
    line-height: 150%;
}
#fg_membersite_content h2 {
    color: #333333;
    font-family: Arial,sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
