﻿@charset "UTF-8";
* {
    margin: 0;
    outline: 0 none;
    padding: 0;
}
.hidden {
    display: none;
}
body {
    color: #666666;
    font-family: Helvetica,Tahoma,Arial,sans-serif;
    font-size: 12px;
    width: 460px;
}
a {
    color: #999999;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.clear {
    clear: both;
}
#outerContainer {
    background-color: #FFFFFF;
    border-radius: 3px 3px 5px 5px;
    box-shadow: 2px 3px 10px #444444;
    height: 430px;
    margin: 2px;
    overflow: hidden;
    padding-top: 5px;
    position: relative;
}
h2 {
    color: #777777;
    font-size: 1.4em;
    font-weight: normal;
    margin: 5px 18px 10px;
}
h2 a#welcomeName, h2 p#welcomeName {
    color: #2FA5E4;
    display: inline-block;
    font-weight: normal;
}
h2 a#signOutTop {
    color: #35B5EF;
    float: none;
    font-size: 0.7em;
    position: absolute;
    right: 4px;
    top: 13px;
}
h2#moreTitle {
    background: -moz-linear-gradient(center top , #EEEEEE 53%, #DEDEDE 100%) repeat scroll 0 0 transparent;
    margin: -4px 0 0;
    padding: 7px 15px 7px 16px;
}
h2#moreTitle a {
    color: #35B5EF;
    font-size: 0.8em;
    position: relative;
    right: 26px;
    top: 2px;
}
#mainBody {
    height: 274px;
}
#articleDetails, #shareDetails {
    margin: 15px 20px 10px;
}
#articleDetails {
    height: 105px;
    margin-top: 10px;
    min-height: 101px;
}
#shareDetails {
    margin-bottom: 10px;
    margin-top: 2px;
    position: relative;
}
#articleDetails > div {
    margin-right: 5px;
    width: 71%;
}
#articleDetails div a {
    color: #35B5EF;
}
#articleDetails h3#headline {
    font-size: 1.15em;
    margin: 2px 0;
    max-height: 33px;
    overflow: hidden;
    padding-right: 20px;
    text-overflow: ellipsis;
}
#articleDetails p#snippet {
    color: #999999;
    font-size: 1em;
    height: 39px;
    line-height: 1.1em;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
#articleDetails a#url {
    display: inline-block;
    font-size: 0.9em;
    max-height: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#successMsg {
    color: #999999;
    font-size: 1.1em;
    margin: 15px 20px;
    min-height: 32px;
}
#preShareScreen {
    height: 250px;
}
#preShareScreen p {
    font-size: 0.9em;
    margin: 5px 20px;
}
#preShareScreen div em {
    font-style: normal;
    font-weight: bold;
}
#serviceCTAs {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 75px;
    padding-left: 20px;
}
#services {
}
#footer {
    background: -moz-linear-gradient(center top , #9C9F9F 33%, #C0C2C4 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #666666;
    border-radius: 0 0 4px 4px;
    bottom: 15px;
    color: #DDDDDD;
    font-size: 0.95em;
    height: 13px;
    padding: 10px 20px;
    position: absolute;
    width: 416px;
}
#footer:hover {
    color: #EEEEEE;
}
#footer a {
    color: #FAFAFA;
    margin-right: 10px;
}
#footer a:hover {
    color: #FFFFFF;
}
#errorMsg {
    color: #FF2222;
    font-size: 1em;
    height: 12px;
    letter-spacing: 0.2px;
    margin: 0 10px 0 20px;
    position: absolute;
    top: 26px;
}
#errorMsg[class="captchaError"] {
    bottom: 26px;
    color: #666666;
    font-size: 1.2em;
    height: 15px;
    margin: 0 10px;
}
.sharethis, .seven_live_seven, .a1_webmarks, .adfty, .aim, .allvoices, .amazon_wishlist, .aol, .arto, .baidu, .bebo, .blinklist, .blip, .blogged, .blogger, .blogmarks, .brainify, .buddymarks, .buffer, .care2, .citeulike, .chiq, .connotea, .corank, .corkboard, .current, .dealsplus, .delicious, .digg, .diigo, .dotnetshoutout, .dzone, .edmodo, .email, .evernote, .facebook, .fashiolista, .folkd, .fresqui, .friendfeed, .funp, .furl, .fark, .fwisp, .bus_exchange, .gbuzz, .gmail, .google, .googleplus, .google_bmarks, .google_reader, .google_translate, .hadash_hot, .hatena, .hi5, .hyves, .hugg, .identi, .jumptags, .kaboodle, .linkagogo, .linkedin, .livejournal, .magnolia, .mail_ru, .meneame, .messenger, .mister_wong, .mixx, .moshare, .msn, .myspace, .n4g, .netlog, .netscape, .netvouz, .newsvine, .nujij, .odnoklassniki, .oknotizie, .orkut, .pinterest, .plaxo, .propeller, .raise_your_voice, .reddit, .segnalo, .simpy, .sina, .slashdot, .sms, .speedtile, .squidoo, .startaid, .startlap, .strands, .stumbleupon, .stumpedia, .sonico, .tailrank, .technorati, .twackle, .twine, .twitter, .typepad, .viadeo, .virb, .vkontakte, .voxopolis, .windows_live, .wordpress, .xanga, .xerpi, .xing, .yahoo, .yahoo_bmarks, .yahoo_myweb, .tumblr, .yigg, .instapaper, .yammer, .formspring {
    height: 16px;
    line-height: 17px;
    margin-right: 23px;
    padding: 2px 0 2px 20px;
    white-space: nowrap;
}
.ckimg {
    background: url("http://w.sharethis.com/share5x/images/small-service-icons-sprite.png") no-repeat scroll left top transparent;
}
.seven_live_seven {
    background-position: 0 -2240px;
}
.a1_webmarks {
    background-position: 0 -2260px;
}
.adfty {
    background-position: 0 -2280px;
}
.allvoices {
    background-position: 0 -1958px;
}
.amazon_wishlist {
    background-position: 0 -1560px;
}
.aol {
    background-position: 0 -439px;
}
.arto {
    background-position: 0 -2216px;
}
.baidu {
    background-position: 0 -2340px;
}
.blinklist {
    background-position: 0 0;
}
.blip {
    background-position: 0 -2380px;
}
.blogged {
    background-position: 0 -2058px;
}
.blogger {
    background-position: 0 -680px;
}
.blogmarks {
    background-position: 0 -60px;
}
.brainify {
    background-position: 0 -1720px;
}
.buddymarks {
    background-position: 0 -1700px;
}
.care2 {
    background-position: 0 -880px;
}
.citeulike {
    background-position: 0 -2198px;
}
.chiq {
    background-position: 0 -100px;
}
.connotea {
    background-position: 0 -1840px;
}
.corank {
    background-position: 0 -2400px;
}
.corkboard {
    background-position: 0 -2420px;
}
.current {
    background-position: 0 -640px;
}
.dealsplus {
    background-position: 0 -1160px;
}
.delicious {
    background-position: 0 -40px;
}
.digg {
    background-position: 0 -20px;
}
.diigo {
    background-position: 0 -780px;
}
.dotnetshoutout {
    background-position: 0 -2440px;
}
.dzone {
    background-position: 0 -2097px;
}
.email {
    background-position: 0 -460px;
}
.evernote {
    background-position: 0 -1900px;
}
.facebook {
    background-position: 0 -180px;
}
.fashiolista {
    background-position: 0 -199px;
}
.folkd {
    background-position: 0 -2460px;
}
.fresqui {
    background-position: 0 -980px;
}
.friendfeed {
    background-position: 0 -1138px;
}
.funp {
    background-position: 0 -999px;
}
.furl {
    background-position: 0 -160px;
}
.fwisp {
    background-position: 0 -2480px;
}
.gmail {
    background-position: 0 -480px;
}
.google {
    background-position: 0 -220px;
}
.google_bmarks {
    background-position: 0 -219px;
}
.google_reader {
    background-position: 0 -1580px;
}
.google_translate {
    background-position: 0 -1880px;
}
.hadash_hot {
    background-position: 0 -1600px;
}
.hatena {
    background-position: 0 -300px;
}
.hi5 {
    background-position: 0 -1100px;
}
.hyves {
    background-position: 0 -1760px;
}
.hugg {
    background-position: 0 -1020px;
}
.identi {
    background-position: 0 -2178px;
}
.jumptags {
    background-position: 0 -340px;
}
.kaboodle {
    background-position: 0 -2500px;
}
.linkagogo {
    background-position: 0 -2540px;
}
.linkedin {
    background-position: 0 -1240px;
}
.livejournal {
    background-position: 0 -1060px;
}
.magnolia {
    background-position: 0 -240px;
}
.meneame {
    background-position: 0 -820px;
}
.mister_wong {
    background-position: 0 -740px;
}
.mixx {
    background-position: 0 -580px;
}
.msn {
    background-position: 0 -499px;
}
.myspace {
    background-position: 0 -258px;
}
.n4g {
    background-position: 0 -900px;
}
.netlog {
    background-position: 0 -1980px;
}
.netscape {
    background-position: 0 -280px;
}
.netvouz {
    background-position: 0 -2040px;
}
.newsvine {
    background-position: 0 -360px;
}
.nujij {
    background-position: 0 -2580px;
}
.oknotizie {
    background-position: 0 -960px;
}
.orkut {
    background-position: 0 -1478px;
}
.plaxo {
    background-position: 0 -1660px;
}
.propeller {
    background-position: 0 -600px;
}
.reddit {
    background-position: 0 -320px;
}
.segnalo {
    background-position: 0 -2000px;
}
.simpy {
    background-position: 0 -860px;
}
.sina {
    background-position: 0 -2600px;
}
.slashdot {
    background-position: 0 -800px;
}
.sms {
    background-position: 0 -540px;
}
.speedtile {
    background-position: 0 -2620px;
}
.squidoo {
    background-position: 0 -1620px;
}
.startaid {
    background-position: 0 -2139px;
}
.startlap {
    background-position: 0 -2640px;
}
.strands {
    background-position: 0 -1860px;
}
.stumbleupon {
    background-position: 0 -140px;
}
.stumpedia {
    background-position: 0 -2660px;
}
.tailrank {
    background-position: 0 -100px;
}
.technorati {
    background-position: 0 -120px;
}
.twitter {
    background-position: 0 -620px;
}
.typepad {
    background-position: 0 -699px;
}
.viadeo {
    background-position: 0 -1640px;
}
.virb {
    background-position: 0 -2680px;
}
.voxopolis {
    background-position: 0 -2718px;
}
.windows_live {
    background-position: 0 -300px;
}
.wordpress {
    background-position: 0 -659px;
}
.xanga {
    background-position: 0 -1200px;
}
.xerpi {
    background-position: 0 -1798px;
}
.xing {
    background-position: 0 -520px;
}
.yahoo {
    background-position: 0 -560px;
}
.yahoo_bmarks {
    background-position: 0 -560px;
}
.yahoo_myweb {
    background-position: 0 -80px;
}
.yigg {
    background-position: 0 -757px;
}
.fark {
    background-position: 0 -1280px;
}
.bus_exchange {
    background-position: 0 -1298px;
}
.bebo {
    background-position: 0 -1438px;
}
.buffer {
    background-position: 0 -2940px;
}
.edmodo {
    background-position: 0 -2780px;
}
.mail_ru {
    background-position: 0 -2979px;
}
.moshare {
    background-position: 0 -2920px;
}
.raise_your_voice {
    background-position: 0 -2900px;
}
.odnoklassniki {
    background-position: 0 -2760px;
}
.vkontakte {
    background-position: 0 -2800px;
}
.pinterest {
    background-position: 0 -2840px;
}
.googleplus {
    background-position: 0 -2880px;
}
.gbuzz {
    background-position: 0 -1315px;
}
.tumblr {
    background-position: 0 -1377px;
}
.twackle {
    background-position: 0 -1396px;
}
.twine {
    background-position: 0 -1419px;
}
.sharethis {
    background-position: 0 -1080px;
}
.messenger {
    background-position: 0 -539px;
}
.sonico {
    background-position: 0 -1459px;
}
.aim {
    background-position: 0 -420px;
}
.instapaper {
    background-position: 0 -1498px;
}
.yammer {
    background-position: 0 -1517px;
}
.formspring {
    background-position: 0 -1540px;
}
#chicklets a {
    float: left;
    font-size: 1.05em;
    margin: 2px 3px 13px 6px;
    overflow: hidden;
    width: 110px;
}
#chicklets {
    clear: both;
    margin-left: 11px;
    max-height: 348px;
    overflow: auto;
    padding-bottom: 10px;
}
.button {
    border: 1px solid #666666;
    cursor: pointer;
    height: 20px;
    margin-left: 20px;
    width: 80px;
}
#moreStories {
    color: #35B5EF;
    font-size: 0.9em;
    margin-right: 9px;
}
#toolbarUpsell .relatedDetails {
    color: #999999;
    font-size: 1.1em;
    margin-bottom: 11px;
}
#toolbarUpsell .relatedDetails-fcLayout {
    position: relative;
    top: 50px;
}
#toolbarUpsell .relatedTitle {
    color: #35B5EF;
    font-size: 1.75em;
    margin-left: 106px;
}
#toolbarUpsell .firefox-fcLayout {
    background-image: url("http://w.sharethis.com/images/browser_sprite.png");
    background-position: 0 -42px;
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    height: 18px;
    margin-right: 5px;
    width: 18px;
}
#toolbarUpsell .ie-fcLayout {
    background-image: url("http://w.sharethis.com/images/browser_sprite.png");
    background-position: 0 -21px;
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    height: 20px;
    margin-right: 7px;
    width: 18px;
}
#toolbarUpsell .toolbarSpan-fcLayout {
    font-size: 1.25em;
    font-weight: bold;
    position: relative;
    top: 14px;
}
#relatedShares {
    border-top: 4px dotted #EEEEEE;
    height: 299px;
    margin: 15px 20px;
    padding-top: 30px;
}
#relatedShares h2 {
    margin: 0;
}
#relatedShares h3 {
    color: #777777;
}
#loadingRelated {
    margin-bottom: 10px;
    margin-left: 220px;
    margin-top: 20px;
}
#loadingUrlInfo {
    margin-left: 220px;
    position: absolute;
    top: 70px;
}
#articleList {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    width: 410px;
}
#articleList .relatedShare {
    border-right: 3px dotted #EEEEEE;
    display: inline;
    float: left;
    height: 146px;
    overflow: hidden;
    padding: 5px 5px 10px 15px;
    width: 113px;
}
#articleList li.lastVisible {
    border-right: 0 none;
}
#articleList h4.relatedTitle {
    color: #2797CB;
    font-size: 1em;
    margin-top: 5px;
    text-decoration: none;
}
.relatedShare .relatedImg {
    cursor: pointer;
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
    overflow: hidden;
}
.relatedShare .relatedImg img {
    border: 0 none;
    height: 100px;
    width: 100px;
}
.relatedShare .relatedTitle.link {
    color: #2797CB;
}
.relatedTitle:hover {
    text-decoration: none;
}
.relatedShare .relatedTitle {
    clear: both;
    cursor: pointer;
    line-height: 1.2em;
    max-height: 42px;
    overflow: hidden;
    width: 100%;
}
#toolbarUpsell .toolbarImg {
    background-image: url("../images/5x_toolbar.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 120px;
    margin-bottom: 15px;
    margin-top: -15px;
    width: 418px;
}
#toolbarUpsell .toolbarImg-fcLayout {
    background-image: url("../images/5x_chicklet.png");
    float: left;
    height: 98px;
    margin-right: 25px;
    margin-top: 10px;
    width: 98px;
}
.relatedShare .relatedDetails {
    float: left;
    width: 310px;
}
.relatedShare.hasImage .relatedDetails {
    margin-left: 2px;
    padding-right: 5px;
    width: 198px;
}
.doneText {
    border-top: 1px solid #DEDEDE;
    clear: both;
    margin-top: 25px;
    padding-top: 20px;
}
.doneText img {
    float: left;
}
.relatedShare .relatedSource {
    clear: both;
    color: #999999;
    float: left;
    margin-top: 12px;
    overflow: hidden;
}
.relatedShare .relatedMessage {
    clear: both;
    float: left;
    max-height: 29px;
    overflow: hidden;
    width: 100%;
}
.relatedShare .relatedShareCount {
    color: #999999;
    float: right;
    font-size: 1.3em;
    margin-top: 12px;
}
.relatedText {
    border-bottom: 1px solid #696969;
    font-size: 14px;
    font-weight: bold;
    height: 14px;
    margin-top: 10px;
    padding-bottom: 2px;
}
.relatedText-fcLayout {
    font-size: 1.55em;
    font-weight: bold;
    left: 150px;
    position: relative;
    top: 28px;
}
.success {
    color: #009900;
    text-align: center;
}
#btnShareAgain {
    margin-left: 100px;
    margin-top: 5px;
}
textarea, input {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 2px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    color: #777777;
    font-family: inherit;
    font-size: 1.1em;
    margin: 5px;
    padding: 4px;
    width: 97%;
}
textarea {
    margin-left: 0;
    overflow: auto;
    resize: none;
}
#shareMessage {
    display: block;
    height: 100px;
}
#emailShareDetails {
}
#emailShareDetails div {
    margin: 0;
}
#emailShareDetails textarea, #emailShareDetails input {
    font-size: 1em;
    height: 14px;
    margin-bottom: 3px;
    margin-left: 0;
    margin-top: 3px;
    width: 58%;
}
#emailShareDetails label, #emailShareDetails span.recent_label {
    color: #999999;
    display: inline-block;
    font-size: 1.3em;
    width: 66px;
}
#emailShareDetails span.recent_label {
    bottom: 3px;
    font-size: 1.15em;
    position: relative;
}
#emailShareDetails #toField label {
    bottom: 7px;
    overflow-x: hidden;
    position: relative;
    right: 4px;
    text-align: right;
}
#emailShareDetails #recents_list .recent_item {
    color: #999999;
    display: inline-block;
    font-family: inherit;
    font-size: 0.9em;
    margin-right: 5px;
}
#importBox {
    padding-left: 6px;
    position: absolute;
    top: 4px;
    width: 87px;
}
#toField {
    position: relative;
}
#toField #contactsBox {
    border: 2px solid #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    display: none;
    font-size: 1em;
    left: 64px;
    max-height: 336px;
    overflow: hidden;
    position: absolute;
    top: 30px;
    width: 60%;
    z-index: 100;
}
#toField #contactsBox div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F1F1F1;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 4px 3px 4px 8px;
    position: relative;
}
#toField #contactsBox div span.contactName {
    font-size: 0.95em;
    margin-right: 3px;
}
#toField #contactsBox div span.contactEmail {
    color: #999999;
    display: block;
    font-size: 0.9em;
}
#toField #contactsBox div:hover span.contactEmail {
    color: #E1E1E1;
}
#toField #contactsBox div:hover, #toField #contactsBox div.selected_span {
    background: none repeat scroll 0 0 #BFBFBF;
    color: #FFFFFF;
}
#toField div em.search_txt {
    font-style: normal;
    font-weight: bold;
}
#toField span.importServices {
    position: relative;
    right: 2px;
}
#toField span.importServices a {
    color: #2797CB;
}
.serviceDisplay {
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin: 9px 2px 0 4px;
    padding-bottom: 7px;
    position: relative;
    width: 40px;
}
.serviceDisplay .transparentCheckIcon {
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
    width: 39px;
}
.serviceDisplay .checkIcon {
    background: url("http://w.sharethis.com/share5x/images/widget-icons-sprite.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
    width: 39px;
}
.unchecked .checkIcon {
    background: none repeat scroll 0 center transparent;
}
.unchecked:hover .checkIcon {
    background: url("http://w.sharethis.com/share5x/images/widget-icons-sprite.png") no-repeat scroll -50px -42px transparent;
}
.checked .checkIcon {
    background-position: -50px -2px;
}
.serviceDisplay .tempBigIcon {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    left: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    width: 32px;
}
.serviceDisplay .bigIcon {
    background: url("http://w.sharethis.com/share5x/images/large-icons-sprite.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    left: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    width: 32px;
}
.serviceDisplay .email {
    background-position: -11px -50px;
}
.serviceDisplay .facebook {
    background-position: -11px -91px;
}
.serviceDisplay .twitter {
    background-position: -11px -131px;
}
.serviceDisplay .google, .serviceDisplay .buzz {
    background-position: -11px -168px;
}
.serviceDisplay .yahoo {
    background-position: -11px -205px;
}
.serviceDisplay .linkedin {
    background-position: -11px -247px;
}
.tempWidgetIcons {
    background: none repeat scroll 0 center transparent;
}
.widgetIcons {
    background: url("http://w.sharethis.com/share5x/images/widget-icons-sprite.png") no-repeat scroll left top transparent;
}
#moreLink {
    color: #35B5EF;
    font-size: 0.9em;
    padding-left: 10px;
    position: relative;
    right: 0;
    top: 43px;
}
#againLink {
    background-position: -5px -107px;
    color: #35B5EF;
    margin-left: 10px;
    padding-left: 9px;
    position: relative;
}
#moreLink {
    background-position: -5px -108px;
}
#charCounter {
    color: #AAAAAA;
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 2px;
    margin-top: -2px;
    position: absolute;
    right: 0;
}
#thruScreen {
    padding-bottom: 4px;
    padding-left: 4px;
}
.ctaButton {
    background: -moz-linear-gradient(center top , #3FAB41 14%, #33932B 34%, #307D31 100%) repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    bottom: 34px;
    color: #FFFFFF;
    display: inline-block;
    float: right;
    font-size: 1.6em;
    letter-spacing: 0.02em;
    margin-right: 20px;
    margin-top: 0;
    padding: 7px 3px 4px;
    position: relative;
    text-align: center;
    width: 83px;
}
.button_holder-fcLayout {
    border-radius: 0 0 0 0;
    cursor: pointer;
    float: left;
    font-size: 130%;
    font-weight: bold;
    margin-left: 140px;
    margin-right: 10px;
    padding: 8px 5px;
    position: static;
    width: 150px;
}
.ctaButton:hover, .button_holder-fcLayout:hover {
    background: -moz-linear-gradient(center top , #4EC651 14%, #4FBC46 20%, #138C15 100%) repeat scroll 0 0 transparent;
}
.imgLink {
    height: 100px;
    width: 100px;
}
.imgLink img {
    max-height: 100px;
    max-width: 100px;
}
.sts-dn {
    display: none !important;
}
.sts-db {
    display: block !important;
}
.sts-dib {
    display: inline-block !important;
}
.sts-di {
    display: inline !important;
}
.sts-fr {
    float: right !important;
}
.sts-fl {
    float: left !important;
}
.sts-oh {
    overflow: hidden !important;
}
.sts-cb {
    clear: both !important;
}
.sts-mz {
    margin: 0 !important;
}
.sts-pz {
    padding: 0 !important;
}
.sts-hz {
    height: 0 !important;
}
#importBox {
}
#emailShareDetails #toField label {
}
#emailShareDetails #fromField label {
    position: relative;
    right: 4px;
    text-align: right;
    top: 2px;
}
#moreLink {
}
#lessLink {
}
#againLink {
}
#creditLine {
    bottom: 13px;
    position: relative;
}
#stCause {
    display: none;
}
#stLabel {
    background-position: -5px -86px;
    display: inline-block;
    height: 22px;
    position: relative;
    top: 10px;
    width: 90px;
}
#recents {
    height: 12px;
}
#recents_list {
    display: inline-block;
    max-height: 23px;
    overflow: hidden;
    width: 265px;
}
#emailShareDetails #captcha {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: -19px;
    margin-top: -12px;
    padding: 6px;
    position: absolute;
    z-index: 99999999;
}
#extraInfo {
    font-size: 1.05em;
    margin: -4px 20px 4px;
}
#extraInfo em {
    font-size: 1em;
    font-weight: normal;
}
#extraInfo em#helpText {
    font-weight: normal;
}
#friendsWall {
    bottom: 4px;
    display: inline-block;
    font-size: 1em;
    height: 17px;
    left: 3px;
    padding-left: 33px;
    position: relative;
}
#friendsWall #cancelFriendsWall {
    background-position: -3px -24px;
    display: inline-block;
    height: 12px;
    position: relative;
    right: 0;
    top: -8px;
    width: 12px;
}
#friendsWall a {
    color: #35B5EF;
    position: relative;
    top: 3px;
}
#friendsWall input {
    bottom: 3px;
    font-size: 1.1em;
    height: 14px;
    margin: 0 0 0 5px;
    padding: 2px 3px;
    position: relative;
    width: 79%;
}
#friendsWall input[class="friendSelected"] {
    background: none repeat scroll 0 0 #E3F0FB;
}
#friendsBox {
    border: 2px solid #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    bottom: 3px;
    display: none;
    font-size: 1.1em;
    left: 5px;
    overflow: hidden;
    position: relative;
    width: 83%;
    z-index: 100000;
}
#friendsBox div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F1F1F1;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 4px 3px 4px 8px;
    position: relative;
    width: 100%;
}
#friendsBox div span.contactName {
    font-size: 0.95em;
    margin-right: 3px;
}
#friendsBox div.selected_span {
    background: none repeat scroll 0 0 #BFBFBF;
    color: #FFFFFF;
}
#serviceNames {
    bottom: 4px;
    display: inline-block;
    position: relative;
}
#serviceNames span {
    color: #AAAAAA;
    display: inline-block;
    font-size: 0.9em;
    margin-right: 2px;
    position: relative;
    right: 2px;
    text-align: center;
    width: 44px;
}
#serviceCTAs[class="themeTwo"] {
    background: none repeat scroll 0 0 #004466;
}
#chicklets[class="themeTwo"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #004466 #004466;
    border-image: none;
    border-right: 11px solid #004466;
    border-style: none solid solid;
    border-width: 0 11px 11px;
    margin-left: 0;
}
#shareButton[class="ctaButton themeTwo"] {
    background: -moz-linear-gradient(center top , #BADCED 14%, #5693B2 100%) repeat scroll 0 0 transparent;
}
#footer[class="themeTwo"], #footer[class="sts-cb themeTwo"] {
    background: -moz-linear-gradient(center top , #99BBCC 33%, #BADCED 100%) repeat scroll 0 0 transparent;
}
#helpText[class="themeTwo"], textarea[class="themeTwo"], input[class="themeTwo"] {
    color: #5A849A;
}
#welcomeMsg[class="themeTwo"] {
    color: #5A849A;
}
#serviceCTAs[class="themeThree"], #serviceCTAs[class="sts-cb themeThree"] {
    background: none repeat scroll 0 0 #464646;
}
#chicklets[class="themeThree"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #464646 #464646;
    border-image: none;
    border-right: 11px solid #464646;
    border-style: none solid solid;
    border-width: 0 11px 11px;
    margin-left: 0;
}
#shareButton[class="ctaButton themeThree"] {
    background: -moz-linear-gradient(center top , #B8B1AB 14%, #756B63 100%) repeat scroll 0 0 transparent;
}
#footer[class="themeThree"], #footer[class="sts-cb themeThree"] {
    background: -moz-linear-gradient(center top , #B8B1AB 33%, #CFCFCF 100%) repeat scroll 0 0 transparent;
}
#helpText[class="themeThree"], textarea[class="themeThree"], input[class="themeThree"] {
    color: #777777;
}
#welcomeMsg[class="themeThree"] {
    color: #808487;
}
#serviceCTAs[class="themeFour"], #serviceCTAs[class="sts-cb themeFour"] {
    background: none repeat scroll 0 0 #003F1A;
}
#chicklets[class="themeFour"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #003F1A #003F1A;
    border-image: none;
    border-right: 11px solid #003F1A;
    border-style: none solid solid;
    border-width: 0 11px 11px;
    margin-left: 0;
}
#shareButton[class="ctaButton themeFour"] {
    background: -moz-linear-gradient(center top , #01BB75 14%, #008855 100%) repeat scroll 0 0 transparent;
}
#footer[class="themeFour"], #footer[class="sts-cb themeFour"] {
    background: -moz-linear-gradient(center top , #279A5C 33%, #C1E4CC 100%) repeat scroll 0 0 transparent;
}
#helpText[class="themeFour"], textarea[class="themeFour"], input[class="themeFour"] {
    color: #5F816D;
}
#welcomeMsg[class="themeFour"] {
    color: #5F816D;
}
#serviceCTAs[class="themeFive"], #serviceCTAs[class="sts-cb themeFive"] {
    background: none repeat scroll 0 0 #2C6B8C;
}
#chicklets[class="themeFive"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #2C6B8C #2C6B8C;
    border-image: none;
    border-right: 11px solid #2C6B8C;
    border-style: none solid solid;
    border-width: 0 11px 11px;
    margin-left: 0;
}
#shareButton[class="ctaButton themeFive"] {
    background: -moz-linear-gradient(center top , #B4B4B4 14%, #AEB2B5 34%, #8C8C8C 100%) repeat scroll 0 0 transparent;
}
#footer[class="themeFive"], #footer[class="sts-cb themeFive"] {
    background: -moz-linear-gradient(center top , #FF9030 33%, #B55706 100%) repeat scroll 0 0 transparent;
}
#helpText[class="themeFive"], textarea[class="themeFive"], input[class="themeFive"] {
    color: #AAAAAA;
}
#welcomeMsg[class="themeFive"] {
    color: #AAAAAA;
}
#serviceCTAs[class="themeSix"], #serviceCTAs[class="sts-cb themeSix"] {
    background: none repeat scroll 0 0 #000000;
}
#chicklets[class="themeSix"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #000000 #000000;
    border-image: none;
    border-right: 11px solid #000000;
    border-style: none solid solid;
    border-width: 0 11px 11px;
    margin-left: 0;
}
#shareButton[class="ctaButton themeSix"] {
    background: -moz-linear-gradient(center top , #FF4085 14%, #E21361 100%) repeat scroll 0 0 transparent;
}
#footer[class="themeSix"], #footer[class="sts-cb themeSix"] {
    background: -moz-linear-gradient(center top , #E21361 33%, #FF4085 100%) repeat scroll 0 0 transparent;
}
#helpText[class="themeSix"], textarea[class="themeSix"], input[class="themeSix"] {
    color: #E21361;
}
#welcomeMsg[class="themeSix"] {
    color: #E21361;
}
#serviceCTAs[class="themeSeven"], #serviceCTAs[class="sts-cb themeSeven"] {
    background: none repeat scroll 0 0 #464646;
}
#chicklets[class="themeSeven"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #464646 #464646;
    border-image: none;
    border-right: 11px solid #464646;
    border-style: none solid solid;
    border-width: 0 11px 11px;
    margin-left: 0;
}
#shareButton[class="ctaButton themeSeven"] {
    background: -moz-linear-gradient(center top , #FDA701 14%, #FD4901 100%) repeat scroll 0 0 transparent;
}
#footer[class="themeSeven"], #footer[class="sts-cb themeSeven"] {
    background: -moz-linear-gradient(center top , #FD9267 33%, #FFB767 100%) repeat scroll 0 0 transparent;
}
#helpText[class="themeSeven"], textarea[class="themeSeven"], input[class="themeSeven"] {
    color: #FCA174;
}
#welcomeMsg[class="themeSeven"] {
    color: #FCA174;
}
#serviceCTAs[class="themeEight"], #serviceCTAs[class="sts-cb themeEight"] {
    background: none repeat scroll 0 0 #464646;
}
#chicklets[class="themeEight"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #464646 #464646;
    border-image: none;
    border-right: 11px solid #464646;
    border-style: none solid solid;
    border-width: 0 11px 11px;
    margin-left: 0;
}
#shareButton[class="ctaButton themeEight"] {
    background: none repeat scroll 0 0 #939393;
}
#footer[class="themeEight"], #footer[class="sts-cb themeEight"] {
    background: none repeat scroll 0 0 #B1B1B1;
}
#helpText[class="themeEight"], textarea[class="themeEight"], input[class="themeEight"] {
    color: #464646;
}
#welcomeMsg[class="themeEight"] {
    color: #000000;
}
#serviceCTAs[class="themeNine"], #serviceCTAs[class="sts-cb themeNine"] {
    background: none repeat scroll 0 0 #DFFF00;
}
#chicklets[class="themeNine"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #DFFF00 #DFFF00;
    border-image: none;
    border-right: 11px solid #DFFF00;
    border-style: none solid solid;
    border-width: 0 11px 11px;
    margin-left: 0;
}
#shareButton[class="ctaButton themeNine"] {
    background: none repeat scroll 0 0 orange;
}
#footer[class="themeNine"], #footer[class="sts-cb themeNine"] {
    background: none repeat scroll 0 0 #4DDE4B;
}
#helpText[class="themeNine"], textarea[class="themeNine"], input[class="themeNine"] {
    color: #FF0000;
}
#welcomeMsg[class="themeNine"] {
    color: #FF0000;
}
#outerContainer[class="themeNine"] {
    background: none repeat scroll 0 0 #D5D5D5;
}
.closeX {
    background: url("http://w.sharethis.com/share5x/images/widget-icons-sprite.png") no-repeat scroll -3px -131px transparent;
    cursor: pointer;
    height: 30px;
    left: 443px;
    position: relative;
    right: 26px;
    width: 30px;
    z-index: 2000000;
}
.closeX2 {
    cursor: pointer;
    height: 30px;
    left: 443px;
    position: relative;
    right: 26px;
    width: 30px;
    z-index: 2000000;
}
#outerContainer {
    margin-top: -17px;
}
#cancelLink {
    color: #35B5EF;
    margin-right: 10px;
    margin-top: 33px;
}
#privacyLinks {
    margin-right: -10px;
}
#greyScreen {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 419px;
    opacity: 0.95;
    position: absolute;
    top: 0;
    width: 456px;
    z-index: 999999;
}
#captchaButton, #cancelButton, #errorMsg, #captchaImg {
    position: relative;
    z-index: 1000002;
}
#captchaButton, #cancelButton {
    background: -moz-linear-gradient(center top , #CCCCCC 14%, #BBBBBB 34%, #AAAAAA 100%) repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    left: auto;
    position: absolute;
    right: -3px;
    top: 110px;
}
#cancelButton {
    right: 98px;
}
#captchaImg {
    position: absolute;
    right: 63px;
    top: 93px;
}
#recaptcha_table {
    border: medium none !important;
}
.recaptchatable #recaptcha_response_field {
    color: #666666 !important;
    padding: 2px !important;
}
#moreLink, #lessLink {
    right: -6px;
    top: 45px;
}
.serviceDisplay {
    padding-bottom: 10px;
}
#importBox {
    top: 2px;
    width: 88px;
}
#recents_list {
    bottom: 3px;
    position: relative;
}
#captchaButton, #cancelButton {
    padding-bottom: 8px;
    padding-top: 4px;
}
#shareButton {
    margin-top: -5px;
    padding: 5px 3px 4px;
}
#articleDetails > div {
    width: 72%;
}
#chicklets {
    padding-bottom: 5px;
}
#extraInfo {
    margin-top: -4px;
}
#emailShareDetails #txtYourAddr {
    height: 24px;
    margin-bottom: 0;
}
#emailShareDetails #txtYourAddr {
    height: 30px;
    margin-bottom: 0;
}
#facebookError {
    display: block;
    margin-top: 10px;
}
#sharedServices {
    display: block;
}
