﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="bb_recorder.aspx.cs" Inherits="VsClientBitBucket.bb_recorder" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Belly Buds: Voiceshare Application</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" /></script>
<link type="text/css" rel="stylesheet" href="http://216.74.238.118:18180/voiceshare/custom.css"/>
<script type="text/javascript">
    /*	var estad = 0;
    jQuery(document).ready(function($){
    $("#openreg").click(function(){
    if (estad==0){
    $('.slide').fadeTo(1,0);
    $('.slide').show();
    $('.slide').fadeTo(100,1);
    $('.slide').animate({'height': '250px'}, 520);
    estad = 1;
    }else{
    $('.slide').fadeTo(200,0);
    $('.slide').animate({'height': '0px'}, 520,function(){
    $('.slide').hide();
    });						
    estad = 0;
    }
    });
												
						
    });*/



</script>
<script type="text/javascript" src="swfobject.js"></script>
		        <!-- Include CSS to eliminate any default margins/padding and set the height of the html element and 
             the body element to 100%, because Firefox, or any Gecko based browser, interprets percentage as 
             the percentage of the height of its parent container, which has to be set explicitly.  Fix for
             Firefox 3.6 focus border issues.  Initially, don't display flashContent div so it won't show 
             if JavaScript disabled.
        -->
        <style type="text/css" media="screen"> 
            html, body  { height:100%; }
            body { margin:0; padding:0; overflow:auto; text-align:center; 
                   background-color: #ffffff; }   
            object:focus { outline:none; }
            #flashContent { display:none; }
        </style>
		
        <script type="text/javascript" src="swfobject.js"></script>
        <script type="text/javascript">
            var swfVersionStr = "10.2.0";
            var xiSwfUrlStr = "";

            var flashvars = {};
            flashvars.lstext = "Loading..."; //you can provide a translation here for the "Laoding..." text taht shows up while this file and the external language file is loaded
            flashvars.recorderId = "REC1"; //set this var if you have multiple instances of the mp3recorder on a page and you want to identify them
            flashvars.userId = "walter123"; //this variable is sent back to upload.php when the user presses the [SAVE] button
            flashvars.licenseKey = "766f69636573686172652e6eaurc8be65743f6c6f63616c686f7374aurc0c2c4bacebae3"; //licensekey variable, you get it when you purchase the software
           // flashvars.sscode = ".aspx"; 

            var params = {};
            params.quality = "high";
            params.bgcolor = "#ffffff";
            params.allowscriptaccess = "sameDomain";
            params.allowfullscreen = "true";

            var attributes = {};
            attributes.id = "Audior";
            attributes.name = "Audior";
            attributes.align = "middle";

            swfobject.embedSWF(
                "Audior.swf", "flashContent",
                "820", "240",
                swfVersionStr, xiSwfUrlStr,
                flashvars, params, attributes);
            swfobject.createCSS("#flashContent", "display:block;text-align:left;");
        </script>
		
		<!-- Below is the MP3Recorder JS API (Callbacks) -->
</head>
<body>
<center>
  <div id="wrapper">
    <div id="page">
      <!--BEGIN HEADER -->
      <div id="header"> <a style="float:left" href="http://www.bellybuds.com">
        <!--<img class="headerimage" src="http://www.bellybuds.com/wp-content/uploads/2011/11/BB_Linear_Logo_XMAS.jpg" alt="Bellybuds"/>-->
        <img alt="Bellybuds" src="http://216.74.238.118:18180//voiceshare/images/BB_Linear_Logo_Registered.jpg" class="headerimage"> </a>
        <div style="display:none;position:absolute" id="loginsystem">
          <div style="position:relative"> <a id="openreg" href="javascript:void(0);">Login/register</a>
            
          </div>
        </div>
        <!-- iphone icons -->
        <div class="icons">
          <div class="nav-icon"> <a href="http://www.bellybuds.com/feed/"><img alt="icon" src="http://www.bellybuds.com/wp-content/themes/iBlogPro/images/iphone/rss.png" class="pngbg" title="RSS"></a> </div>
          <div class="nav-icon"> <a target="_blank" href="http://www.facebook.com/bellybuds"><img alt="icon" src="http://www.bellybuds.com/wp-content/themes/iBlogPro/images/iphone/facebook.png" rel="me" class="pngbg" title="Facebook"></a> </div>
          <div class="nav-icon"> <a target="_blank" href="http://www.twitter.com/bellybuds"><img alt="icon" src="http://www.bellybuds.com/wp-content/themes/iBlogPro/images/iphone/twitter.png" rel="me" class="pngbg" title="Twitter"></a> </div>
          <div class="nav-icon"> <a href="http://216.74.238.118:18180/about/contact"><img alt="icon" src="http://www.bellybuds.com/wp-content/themes/iBlogPro/images/iphone/mail.png" class="pngbg" title="Contact Us"></a> </div>
          <div class="nav-icon"> <a href="http://216.74.238.118:18180/voiceshare"><img alt="icon" src="http://www.bellybuds.com/wp-content/themes/iBlogPro/images/iphone/icon_voiceshare.jpg" class="pngbg" title="VoiceShare"></a> </div>
          <div class="nav-icon"> <a href="http://216.74.238.118:18180/tell-a-friend"><img alt="icon" src="http://www.bellybuds.com/wp-content/themes/iBlogPro/images/iphone/icon_invitation.jpg" class="pngbg" title="Tell a Friend"></a> </div>
        </div>
        <!-- /end iphone icons -->
      </div>
      <!--END OF HEADER -->
      <!--BEGIN CONTENT -->
      <div id="content">
        <div class="outside">
          <div class="inside">
          <div class="inside_full">
          <div style="text-align:right; font-size:10px">(Not Walter Silin?, <a href="login/logout.php">Sign In</a>)</div><ul id="profile_bar"><li><a href="/voiceshare">Record a Message</a></li><li><a href="invite.php">Send a Invitation</a></li><li><a href="dash.php">My Dashboard</a></li><li><a href="login/logout.php">Sign Out</a></li><li><a href="terms.php">Terms and Service</a></li></ul>          <div class="inside_left">
          <img src="http://216.74.238.118:18180/images/voiceshare_logo.jpg">
          <h3>Record a message</h3>
          
          
        

          
          <p>Thanks for taking a moment to say hello to the baby-to-be in your life.</p>

<p>Here's how to record a message (we recommend you use a headset or external microphone for best clarity):</p>

          <ol>
            <li>Press "Record"</li>

            <li>Click "Allow" so that the VoiceShare recorder can
            locate your computer's microphone</li>

            <li>Start talking...or singing or reading or humming or
            yodeling</li>

            <li>Press "Stop"</li>

            <li>Press "Play" to listen to your message</li>

            <li>Press "Save" or…</li>

            <li>Press "Record Again" to erase and re-record</li>
          </ol>

          <p>You can talk up to 10 minutes. <a name="hrefWhatToSay" id="hrefWhatToSay" href="whattosay.php">Don't know what to say?</a></p>

          <p>You can record your message now. (After recording, if the “play” button doesn’t function, go ahead and click “save”, enter the title and continue.  You will be able to listen to your message on “My Dashboard”)</p>

      
          </div>
          <div class="inside_right"><img style="float:right;padding:5px" src="images/record.jpg"></div></div>
          <div class="clear_all"></div>
          <div class="inside_full">
          <div class="fboxes2" id="vsFormWrapper">
        <form method="post" class="vs-form" name="formRecord" id="vsFormRecord" action="action/record_action.php">          <input type="hidden" name="strmname" id="strmname">   <input type="hidden" name="message_recorded">          <input type="hidden" name="message_file"> <input type="hidden" name="message_dur"> <input type="hidden" name="message_user"> <input type="hidden" value="0" name="invite_recip_num">
          <div class="vs-row vs-row-sect fboxes">
            <div class="vs-row">
                            <div class="vs-col">
                <div id="voiceshare_box">
		<script>

		    function btSaveClick(recordName, duration, recorderId) {
		        //this function is called when the SAVE button is released and it is called with 3 parameters: 
		        //recordName: the file name of the new audio recording  including the .mp3 extension
		        //recordDuration: duration of the recorded audio file in seconds but accurate to the millisecond (like this: 4.322)
		        //recorderId: the recorderId sent via flash vars, to be used when there are many recorders on the same web page

		        alert("btSaveClick("+recordName+","+recordDuration+","+recorderId+")");
		        document.getElementById("firstDisplay").innerHTML = "Last JS callback: btSaveClick()";
		    }

		    function btDownloadClick(recorderId) {
		        //this function is called when the DOWNLOAD button is released 
		        //alert("btDownloadClick("+recorderId+")");
		        document.getElementById("firstDisplay").innerHTML = "Last JS callback: btDownloadClick()";
		    }
		    function btPlayClick(recorderId) {
		        //this function is called when the PLAY button is released
		        //alert("btPlayClick("+recorderId+")");
		        document.getElementById("firstDisplay").innerHTML = "Last JS callback: btPlayClick()";
		    }

		    function btPauseClick(recorderId) {
		        //this function is called when the PAUSE button is released
		        //alert("btPauseClick("+recorderId+")");
		        document.getElementById("firstDisplay").innerHTML = "Last JS callback: btPauseClick()";
		    }

		    function btStopClick(recorderId) {
		        //this function is called when the STOP button is released
		        //alert("btStopClick("+recorderId+")");
		        document.getElementById("firstDisplay").innerHTML = "Last JS callback: btStopClick()";
		    }

		    function btRecordClick(recorderId) {
		        //this function is called when the RECORD button is released
		        //alert("btRecordClick("+recorderId+")");
		        document.getElementById("sav").disabled = true
		        document.getElementById("dwl").disabled = true
		        document.getElementById("firstDisplay").innerHTML = "Last JS callback: btRecordClick()";
		    }

		    function onRecordingPlaybackStopped(recorderId) {
		        //the recording has stopped playing
		        //alert('onRecordingPlaybackStopped('+recorderId+')')
		        document.getElementById("firstDisplay").innerHTML = "Last JS callback: onRecordingPlaybackStopped()";
		    }

		    function onEncodingDone(duration, recorderId) {
		        //the MP3Recorder has finished the encoding of your audio data to mp3
		        //alert('onEncodingDone('+duration+', '+recorderId+')')
		        document.getElementById("sav").disabled = false
		        document.getElementById("firstDisplay").innerHTML = "Last JS callback: onEncodingDone()";
		    }

		    function onUploadDone(success, recordName, duration, recorderId) {
		        //the MP3Recorder has finished uploading the files to your server AND it has received a save=ok OR save=failed response from the upload script on the web server
		        //success  will be true if the upload succeeded and false otherwise
		        alert('onUploadDone('+success+', '+recordName+', '+duration+', '+recorderId+')')
		        document.getElementById("dwl").disabled = false
		        document.getElementById("firstDisplay").innerHTML = "Last JS callback: onUploadDone()";
		    }

		    function onMicAccess(allowed, recorderId) {
		        //alert("onMicAccess("+allowed+")");
		        //the user clicked Allow or Deny in the Privacy panel dialog box in Flash Player
		        //when the user clicks Deny this function is called with allowed=false
		        //when the user clicks Allow this function is called with allowed=true
		        //this function can be called anytime during the life of the Audior instance as the user has permanent access to the Privacy panel dialog box in Flash Player
		        document.getElementById("secondDisplay").innerHTML = "Access to mic allowed: " + allowed;
		        document.getElementById("firstDisplay").innerHTML = "Last JS callback: onMicAccess()";
		    }

		    function onFlashReady(recorderId) {
		        //alert("onFlashReady()");
		        //as soon as this function is called you can communicate with Audior using the JS Control API
		        //Example : document.Audior.record(); will make a call to flash in order to start recording
		        //recorderId: the recorderId sent via flash vars, to be used when there are many recorders on the same web page
		        document.getElementById("firstDisplay").innerHTML = "Last JS callback: onFlashReady()";
		    }

		</script>
	
<!-- SWFObject's dynamic embed method replaces this alternative HTML content with Flash content when enough 
             JavaScript and Flash plug-in support is available. The div is initially hidden so that it doesn't show
             when JavaScript is disabled.
        -->
        <div id="flashContent">
            <p>
                To view this page ensure that Adobe Flash Player version 
                10.2.0 or greater is installed. 
            </p>
            <script type="text/javascript">
                var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
                document.write("<a href='http://www.adobe.com/go/getflashplayer'>Get Adobe Flash Player</a>");
            </script> 
        </div>
        
        <noscript>
            You need to have JS enabled for Audior to show.
        </noscript>
                </div>
                <br />
                <br />
                <h4>Recorded Message title</h4>

              </div>            </div>

            <div class="vs-row">
              <div class="vs-col" id="vsMessageName">

                <div>
                  <input type="text" id="title_text" name="txtMessageName">                </div>
              </div>
            </div>
            <br>
			 <!--<a rel="dialog" href="javascript:void(0);" id="share_face" style="padding:6px;background:#ccc;color:#000;display:none" >Share on <img src="http://www.bellybuds.com/wp-content/themes/iBlogPro/images/iphone/facebook.png" alt="facebook" /></a>
			<br />
            <div class="vs-row">
			  <p flexy:if="!RECORD_SHOW_RECORDER">or</p>
            </div>-->
			<div class="vs-row vs-row-sect" id="vsSubmitWrapper">
            <div style="text-align:center" class="vs-row">
              <div>
                <span style="display:none"><input type="button" value="Preview Invitation" name="btnPreview" id="btnPreview"></span><span><input type="submit" class="button" xdisabled="disabled" value="Continue" name="btnContinue" id="btnContinue"></span>
              </div>
            </div><div class="clear_all">
          </div><input type="hidden" value="21" name="step"></div> 
          </div>
          

                  </form>
      </div></div>
          </div>
          
          <div class="clear_all"></div>
          </div>
          
        
        <div class="outside">
          <div class="inside_full ">
          <div class="inside_third">
          <div class="fbox">
				<div class="fboxcopy">
															<h3>Looking for something?</h3>
						<p>Use the form below to search the site:</p>
						<div class="left p"><form action="http://www.bellybuds.com/" class="searchform" method="get">
	<span class="left"></span>
		<input type="text" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if (this.value == 'Search') {this.value = '';}" class="s" name="s" value="Search">
	<span class="right"></span>
	<input type="submit" value="Go" class="searchsubmit">
</form>
</div>
						<div class="clear"></div>
						<p>Still not finding what you're looking for? Drop a comment on a post or contact us so we can take care of it!</p>
													</div>
			</div>
          </div>
          <div class="inside_third inside_middle">
          <div class="fbox">
				<div class="fboxcopy">
				BellyBuds: Now that's love, happy Valentine's Day! <a href="http://t.co/r4r9TiHu">http://t.co/r4r9TiHu</a><br /><br />BellyBuds: One of the coolest adoption-related stories... <a href="http://t.co/7ATEjpVp">http://t.co/7ATEjpVp</a><br /><br />BellyBuds: One of the coolest adoption-related stories... <a href="http://t.co/7ATEjpVp">http://t.co/7ATEjpVp</a><br /><br />BellyBuds: Don't pretend this has never happened to you... <a href="http://t.co/ge3eMwtt">http://t.co/ge3eMwtt</a><br /><br />BellyBuds: 
				
			</div>
          </div>
          </div>
          <div class="inside_third">
             <div class="fbox">
				<div class="fboxcopy">
															
				</div>
			</div>
          </div>
          </div>
          <div class="clear_all"></div>
        </div>
        <div class="outside">
          <div class="inside inside_no_padding footer">
          <div class="fix" id="fcolumns_container">
									<div class="fcol">
						<div class="fcol_pad">
															<a title="Home" href="http://www.bellybuds.com/" class="home">
									<img alt="Bellybuds" src="http://www.bellybuds.com/wp-content/uploads/2011/03/JPMANewLogo2010-e1299626716299.jpg">
								</a>
													</div>
					</div>
					<div class="fcol">
						<div class="fcol_pad">
							<h3>Pages</h3>
							
							
<ul id="footnav">
<li class="page_item "><a title="Home" href="http://www.bellybuds.com/" class="home">Home</a></li>
<li class="page_item page-item-36"><a title="Contact Us" href="http://www.bellybuds.com/contact-us/">Contact Us</a></li>
<li class="page_item page-item-237"><a title="Tell A Friend" href="http://www.bellybuds.com/tell-a-friend/">Tell A Friend</a></li>
<li class="page_item page-item-3377"><a title="Terms And Conditions" href="http://www.bellybuds.com/terms_conditions/">Terms And Conditions</a></li>
<li class="page_item page-item-11"><a title="Buy" target="_blank" href="/wp-content/bellybuds_store.php">Buy</a></li>
<li class="page_item page-item-8"><a title="About" href="http://www.bellybuds.com/prenatal_music_history/">About</a></li>
<li class="page_item page-item-2"><a title="Buzz" href="/category/testimonials/">Buzz</a></li>
<li class="page_item page-item-42"><a title="Blog" href="/category/blog">Blog</a></li>
<li class="page_item page-item-146 current_page_item"><a title="VoiceShare" href="http://www.bellybuds.com/voiceshare/">VoiceShare</a></li>
<li class="page_item page-item-2768"><a title="Help" href="http://www.bellybuds.com/help/">Help</a></li>
<li class="page_item page-item-772"><a title="Problem?  Suggestion?" href="http://www.bellybuds.com/report-a-bug/">Problem?  Suggestion?</a></li>
<li class="page_item page-item-1789"><a title="Partners" href="/downloads/become-a-retailer/">Partners</a></li>
	<li class="page_item "><a href="/terms_conditions" class="home">Terms &amp; Conditions</a></li>
</ul>
						</div>
					</div>
					<div class="fcol">
						<div class="fcol_pad">
							<h3>Stay In Touch</h3>
								<ul>

									<li><a class="rsslink" href="http://www.bellybuds.com/feed/">Site RSS Feed</a></li>
																											<li><a class="twitterlink" href="http://www.twitter.com/bellybuds">Twitter</a></li>
																												<li><a class="facebooklink" href="http://www.facebook.com/bellybuds">Facebook</a></li>
																																		</ul>
								<span class="st_facebook_large" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;http://w.sharethis.com/images/facebook_32.png&quot;);"></span><img src="http://w.sharethis.com/images/check-big.png" style="position: absolute; top: -7px; right: -7px; width: 19px; height: 19px; max-width: 19px; max-height: 19px; display: none;"></span></span>
								<script type="text/javascript">								    var switchTo5x = true;</script><script src="http://w.sharethis.com/button/buttons.js" type="text/javascript"></script><script type="text/javascript">								    stLight.options({ publisher: 'aa0a6497-fadd-4da7-8998-730c4484396d' });</script>
						</div>
					</div>
					<div class="fcol">
						<div class="fcol_pad">
							<h3>More</h3>
							<div class="welcomemessage">Thanks for dropping by! Feel free to join the discussion by leaving comments, and stay updated by subscribing to the <a href="http://bellybuds.russgilbert.com/?feed=rss2">RSS feed</a>.</div>						</div>
					</div>
					<div class="fcol">
						<div class="fcol_pad">
							<span class="terms">
								&copy; 2011 BellyBuds, Patent Pending
							</span>
						</div>
					</div>
							</div>
                            <div class="clear_all"></div>
          </div>
        </div>
      </div>
      <!--END OF CONTENT -->
      <!--BEGIN FOOTER -->
      </div>
      <!--END OF FOOTER -->
    </div>

</center>
<script>
    /*$("#invite_recip_first").keyup(function () {
    var value = $(this).val();
    $("#effectsthis").text(value);
    }).keyup(); */




    //----------Recipient Function Hide/Show Based on Checkbox

    if ($("#chkJustSave").is(":checked")) {
        $("#vsAddRecipWrapper").hide()
    }
    $('#chkJustSave').click(function () {
        $('#vsAddRecipWrapper').toggle("fast");
    });

    //----------Recipient Append
    $('#btnAddRecip').click(function () {





        var itemlist;

        /*Form Vars*/

        var firstinput = $('#invite_recip_first').val();
        var lastinput = $('#invite_recip_last').val();
        var emailinput = $('#invite_recip_email1').val();
        var emailinputmatch = $('#invite_recip_email2').val();
        var nickinput = $('#invite_recip_nick').val();

        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        //Validation

        var errormssg = '';

        if (firstinput == '') {
            errormssg = '- First Name Incorrect\n';
        }
        if (lastinput == '') {
            errormssg = errormssg + '- Last Name Incorrect\n';
        }
        if (emailinput == '' || !filter.test(emailinput)) {
            errormssg = errormssg + '- Email Incorrect\n';
        }
        if (emailinput != emailinputmatch) {
            errormssg = errormssg + '- Emails Fields Do Not Match';
        }

        if (errormssg != '') {
            alert(errormssg);
        } else {


            //How many already in list
            itemlist = $("#vsRecipTable tbody tr").size();
            alert(itemlist);
            itemlist = itemlist + 1;

            //add to list
            $('#vsRecipTable tbody').append('<tr id="entry[' + itemlist + ']"><th><input type="text" value="' + firstinput + '" name="invite_recip_first[' + itemlist + ']" id="invite_recip_first[' + itemlist + ']"></th><th><input type="text" value="' + lastinput + '" name="invite_recip_last[' + itemlist + ']" id="invite_recip_last[' + itemlist + ']"></th><th><input type="text" value="' + emailinput + '" name="invite_recip_email[' + itemlist + ']" id="invite_recip_email[' + itemlist + ']"></th><th><input type="text" value="' + nickinput + '" name="invite_recip_nick[' + itemlist + ']" id="invite_recip_nick[' + itemlist + ']"></th><th style="cursor:pointer" onclick = $(this).parent().remove();>remove</th></tr>');

            $('#invite_recip_first').val('');
            $('#invite_recip_last').val('');
            $('#invite_recip_email1').val('');
            $('#invite_recip_email2').val('');
            $('#invite_recip_nick').val('');

        };

        //Clear values 

        var firstinput = '';
        var lastinput = '';
        var emailinput = '';
        var emailinputmatch = '';
        var nickinput = '';



    });




</script>

</body>
</html>
