﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TermsOfService.aspx.cs" Inherits="VsClientBitBucket.TermsOfService" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Belly Buds: Voiceshare Application</title>
    <link href="Styles/Custom2.css" rel="stylesheet" />
    <link href="Styles/Container.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
        <div id="wrapper">
            <div id="page">
                <!--BEGIN HEADER -->
                <div id="header">
                    <a style="float: left" href="http://voiceshare.wavhello.com/Dash.aspx">
                        <asp:Image ID="imgLogo" runat="server" ImageUrl="images/LoginAndRegister/voiceshare_by_wavhello_logo_transparent_320x114.png" />
                    </a>
                    <!-- iphone icons -->
                    <div class="icons">
                        <div class="nav-icon">
                            <asp:ImageButton ID="btnFacebook" runat="server" ImageUrl="images/facebook.png" PostBackUrl="http://www.facebook.com/bellybuds"></asp:ImageButton>
                        </div>
                        <div class="nav-icon">
                            <asp:ImageButton ID="btnTwitter" runat="server" ImageUrl="images/twitter.png" PostBackUrl="http://www.twitter.com/bellybuds"></asp:ImageButton>
                        </div>
                    </div>
                    <!-- /end iphone icons -->
                </div>
                <div id="content">
                    <div class="outside">
                        <div class="inside">
                            <div class="inside_full">
                                <div class="inside_left" style="width: 100%">
                                    <h3>Welcome to Bellybuds VoiceShare&trade;!</h3>
                                    <div class="part">
                                        <h3><span style="font-size: 9.8pt; color: #404040">Last Modified: April 9, 2014</span></h3>
                                    </div>
                                    <div class="section">
                                        <p>IMPORTANT – READ CAREFULLY. THESE TERMS OF SERVICE (INCLUDING OUR <a href="http://bellybuds.com/terms-of-use/">TERMS OF USE</a> AND <a href="http://bellybuds.com/privacy-policy/">PRIVACY POLICY</a>, WHICH ARE INCORPORATED HEREIN BY REFERENCE) SET FORTH THE LEGAL AGREEMENT BETWEEN YOU AND BELLYBUDS, LLC RELATING TO YOUR ACCESS TO AND USE OF THE VOICESHARE® SERVICE. IN PARTICULAR, THESE TERMS OF SERVICE REQUIRE THAT ANY DISPUTE BETWEEN YOU AND US MUST BE RESOLVED BY BINDING ARBITRATION.</p>
                                        <p>BY CLICKING TO “ACCEPT” OR “AGREE” TO THESE TERMS OF SERVICE WHEN THIS OPTION IS MADE AVAILABLE TO YOU OR BY ACCESSING THE VOICESHARE® SERVICE, WHICHEVER IS FIRST TO OCCUR, YOU AGREE THAT YOU HAVE READ THESE TERMS OF SERVICE AND AGREE TO BE LEGALLY BOUND BY THESE TERMS OF SERVICE. IF YOU DO NOT AGREE TO THESE TERMS OF SERVICE, DO NOT CLICK ACCEPT OR AGREE AND DO NOT ACCESS THE VOICESHARE® SERVICE.  </p>
                                        <p>1. <span style="text-decoration: underline;">Generally</span>. These Terms of Service, along with our <a href="http://bellybuds.com/terms-of-use/">Terms of Use</a> and <a href="http://bellybuds.com/privacy-policy/">Privacy Policy</a> which are incorporated herein by this reference, set forth the legal agreement between Bellybuds, LLC (“Bellybuds”) and you relating to your use of and access to the hosted application service known as VoiceShare® as made available by Bellybuds via the Internet (the “Application Service”).  You represent and warrant that you are of legal age to form a binding contract with Bellybuds, have read these Terms of Service, the Terms of Use and the Privacy Policy (collectively, the “Agreement”), and agree to be legally bound by the Agreement.  Unless otherwise defined in these Terms of Service, capitalized terms used in these Terms of Service will have the defined meanings given in the Terms of Use or Privacy Policy, as applicable.</p>
                                        <p>2. <span style="text-decoration: underline;">Your Rights to Use the VoiceShare Service</span></p>
                                        <div style="padding-left: 15px;">a. <span style="text-decoration: underline;">License</span>. Subject to the terms and conditions of this Agreement, Bellybuds grants to you a limited, personal, non-exclusive, non-transferable, non-sublicensable license, during the Term (as defined in Section 7(a) below), to access and use the Application Service for your personal, non-commercial use, subject to the other terms, conditions and restrictions set forth in this Agreement (the “Permitted Use”).</div>
                                        <br />
                                        <div style="padding-left: 15px;">b.	<span style="text-decoration: underline;">Additional Conditions and Restrictions.</span>  The license grant in Section 2(a) above does <span style="text-decoration: underline;">not</span> authorize you to, and you will <span style="text-decoration: underline;">not</span> (directly or indirectly): (i) use the Application Service for any purpose, commercial or otherwise, other than the Permitted Use; (ii) modify, adapt, alter, translate or create derivative works of the Application Service; (iii) reverse engineer, decompile, disassemble, decode or otherwise attempt to discover the source code, algorithms, architecture, structure or underlying technology of the Application Service; (iv) rent, lease, loan, sublicense, distribute, transfer or provide access (including on a time share, application service or outsourced basis) to the Application Service to any other person; (v) use the Application Service for purposes of (A) engaging in any activities in violation of (1) our Content Standards or (2) applicable law or (B) competitive or benchmarking analysis or for development of a competing product or service; (vi) attempt to gain unauthorized access to, interfere with, damage or disrupt any portions of the Application Service (including any servers, databases or accounts); or (vii) use the Application Service in any manner that could disable, overburden, damage, or impair the Application Service or interfere with the authorized use of the Application Service by others.  Bellybuds shall have the right (but not the obligation) to monitor your use of the Application Service to confirm your compliance with the terms of this Agreement.  All rights in and to the Application Service not expressly granted to you in this Agreement are expressly reserved by Bellybuds and its licensors.</div>
                                        <p>3.	<span style="text-decoration: underline;">Account Passwords, Etc.</span>  In order to initially access the Application Service you must register for a user account, provide registration information required by Bellybuds and select an unique username and password in accordance with Bellybuds’s then-current provisioning process.  You agree to provide to Bellybuds, and maintain throughout the Term, true, accurate and complete information about you and your account.  You agree not to impersonate any person or misrepresent your identity or affiliation with any person.  You are responsible for maintaining the confidentiality of the username and password assigned to or adopted by you in connection with your account.  You are responsible for all activities that occur as a result of the use of such username and password, regardless of whether such activities are performed by you or others, and such activities will be deemed conducted by you.  You will notify Bellybuds promptly of any unauthorized use of such username and password or any other breach of security known to you.  You acknowledge and agree that, depending on the type of subscription to the Application Service for which you are registered (e.g., premium vs. standard) different types and/or levels of functionality of the Application Service may be made available to you.</p>
                                        <p>4.	<span style="text-decoration: underline;">Ownership of Application Service</span>. Except for the limited licenses expressly granted to you in Section 2(a) of this Agreement, nothing in this Agreement will be construed, either by implication, estoppel, or otherwise, as a grant to you of any right, title, license, or interest in the Application Service or any component thereof (including any patent, copyright, trade secrets, or other intellectual property rights with respect to any of the foregoing).  Bellybuds and/or its licensors shall retain exclusive ownership and title (including all patent, copyright, trade secret, and other intellectual property rights) in and to the Application Service.</p>
                                        <p>5.	<span style="text-decoration: underline;">Voice Messages</span>.</p>
                                        <div style="padding-left: 15px;"><span style="padding-left: 15px;">a.</span>	You acknowledge that the Application Service is designed to allow you to (i) record, store, post and otherwise make available audio recordings (“<span style="text-decoration: underline;">Voice Messages</span>”) to other registered users of the Application Service for their use and (ii) to receive Voice Messages from other registered users of Application Service for your use.  Bellybuds does not claim ownership to your Voice Messages, however, with respect to any Voice Messages that you record, store, post or otherwise make available through the use of the Application Services, you hereby grant to Bellybuds a non-exclusive, worldwide, irrevocable, perpetual, royalty-free, fully transferable and sublicenseable (through multiple tiers) license to reproduce, display, distribute, modify, prepare derivative works of, and otherwise use your Voice Messages for the purpose of providing the Application Service.  Without limiting the license granted to Bellybuds under the preceding sentence, you also hereby grant to each registered user of the Application Service to whom you transmit (or designate for transmission) your Voice Messages through the Application Service a non-exclusive worldwide, irrevocable, perpetual, royalty-free, fully transferable and sublicenseable (through multiple tiers) license to access such Voice Messages through their respective accounts for the Application Services and to reproduce, display, distribute, modify, prepare derivative works of, and otherwise use your Voice Messages, in any and all media now known or hereafter devised, including the right to download your Voice Messages to and/or for use with Bellybuds® products.</div>
                                        <br />
                                        <div style="padding-left: 15px;">b.	Bellybuds takes no responsibility for the content or use of any Voice Messages or other communications made by registered users through the use of the Application Service.  You agree that you are entirely responsible for the content of the Voice Messages you transmit and for choosing the registered users of the Application Service to whom you may transmit Voice Messages through the use of the Application Service.  Similarly, you acknowledge that, notwithstanding Bellybuds’ Content Standards, you may be exposed to Voice Messages or other communications that contain content that is offensive, unlawful, harmful to minors, obscene or otherwise objectionable. You agree that you are entirely responsible for the Voice Messages and their content you choose to access and use through the use of the Application Service, and your access to and use of such content is at your own risk.  Bellybuds may in its sole discretion block, prevent delivery of or otherwise remove content of Voice Messages and other communications as part of its effort to protect the Application Service, its users or otherwise to enforce this Agreement.</div>
                                        <br />
                                        <div style="padding-left: 15px;">c. Without limiting any of your representations, warranties or covenants contained in the Terms of Use with respect to User Contributions (all of which shall apply to your Voice Messages), you represent, warrant and agree that: (i) your Voice Messages shall comply with, and not violate, the Content Standards and (ii) you have all necessary rights in your Voice Messages to use (and to permit Bellybuds to use) your Voice Messages in connection with the Application Service, to grant Bellybuds the license and rights set forth in this Section 5, and that your Voice Messages (including the use thereof under this Agreement), including any of the content contained therein, do not and will not violate, misappropriate or infringe the rights (including intellectual property rights) of any person or any applicable laws.</div>
                                        <p>6. <span style="text-decoration: underline;">Hardware and System Requirements</span> You are solely responsible for obtaining and maintaining, at your own expense, all hardware, software and services needed to access and/or use the Application Service, including any and all computers, mobile devices and Internet access services.</p>
                                        <p>7. <span style="text-decoration: underline;">Term and Termination</span>.</p>
                                        <div style="padding-left: 15px;">a.	<span style="text-decoration: underline;">Term</span>. The term of this Agreement will commence at the time of your completion of Bellybud’s account registration process and provisioning of your username and password and will continue until terminated in accordance with Section 8(b) below (such period, the “<span style="text-decoration: underline;">Term</span>”).</div>
                                        <div style="padding-left: 15px;">b. <span style="text-decoration: underline;">Termination</span>.  This Agreement may be terminated by you at any time for convenience (i.e., for any or no reason) upon delivery of written notice of termination of your account to Belly Buds.  This Agreement may be terminated by Bellybuds (i) immediately, with or without notice, in the event of your breach of this Agreement or pursuant to any specific right of termination granted to Belly Buds under this Agreement or (ii) at any time for convenience upon delivery of at least two (2) days’ prior written notice to you.</div>
                                        <div style="padding-left: 15px;">
                                            c. <span style="text-decoration: underline;">Effect of Termination</span>
                                            <div style="padding-left: 15px;">i.	Upon termination of this Agreement, the licenses granted to you under Section 2 will terminate automatically and you will cease further use of the Application Service.  Bellybuds is under no obligation to store or make available (during or after the Term) any Voice Messages or other User Contributions for any particular period of time, and reserves the right to delete the same at any time without notice.  Without limiting the foregoing, you acknowledge and agree that, following termination of this Agreement, you will not be able to access or download any Voice Messages through or from the Application Service.</div>
                                            <div style="padding-left: 15px;">ii. Notwithstanding anything to the contrary in this Agreement, termination or expiration of this Agreement will not affect any of the parties' respective rights or obligations that (A) are vested pursuant to this Agreement as of the effective date of such termination or expiration (including obligations for payment and remedies for breach of this Agreement); or (B) arise under Sections 1, 3, 4, 5, 7 and 9 through 21 of this Agreement, all of which will survive any termination or expiration of this Agreement.</div>
                                        </div>
                                        <div style="padding-left: 15px;">d. <span style="text-decoration: underline;">Suspension of Application Service</span>. Bellybuds may (without limitation of any other rights or remedies) suspend access to and use of the Application Service in the event of your breach of this Agreement or pursuant to any specific right of suspension granted to Belly Buds under this Agreement, or (iii) in Bellybuds’ reasonable good faith determination, suspension of the Application Service is necessary to avoid or mitigate harm to the security of Bellybuds’ or its customers’ systems or data.  Any such suspension will not constitute a termination of this Agreement.</div>
                                        <p>8. <span style="text-decoration: underline;">Compliance with Laws</span>. You agree to comply with all applicable laws (including regulations) relating to access to and use of the Application Services and other performance of this Agreement.  Without limiting the foregoing, you agree that that the Application Service and other technical data provided to you under this Agreement may be subject to the import/export control laws of the United States and other countries, and you will comply with any and all such applicable laws.</p>
                                        <p>9. <span style="text-decoration: underline;">Disclaimers</span>. YOU ACKNOWLEDGE AND AGREE THAT THE APPLICATION SERVICE IS PROVIDED ON AN “AS IS, AS AVAILABLE” BASIS.  NOTWITHSTANDING ANYTHING TO THE CONTRARY, BELLYBUDS (INCLUDING, FOR PURPOSES OF THIS SECTION, ITS AFFILIATES AND LICENSORS) DOES NOT MAKE ANY, AND HEREBY EXPRESSLY DISCLAIMS ALL, WARRANTIES, WHETHER EXPRESSED OR IMPLIED, WITH RESPECT TO THE APPLICATION SERVICE, VOICE MESSAGES AND ANY OTHER PRODUCTS, SERVICES, OFFERINGS, INFORMATION OR ITEMS PROVIDED, OR TO BE PROVIDED, TO CUSTOMER UNDER THIS AGREEMENT (COLLECTIVELY, THE “<span style="text-decoration: underline;">OFFERINGS</span>”), INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE OR NON-INFRINGEMENT OR ANY OTHER WARRANTIES THAT MAY ARISE FROM USAGE OF TRADE OR COURSE OF DEALING.  WITHOUT LIMITING THE FOREGOING, BELLYBUDS DOES NOT MAKE ANY, AND HEREBY EXPRESSLY DISCLAIMS ALL, REPRESENTATIONS, WARRANTIES AND/OR GUARANTEES REGARDING (I) THE OFFERINGS (INCLUDING THE USE OF OR THE RESULTS OF THE OFFERINGS) IN TERMS OF CORRECTNESS, ACCURACY, RELIABILITY, TIMELINESS, AVAILABILITY, SECURITY, COMPLIANCE WITH APPLICABLE LAWS OR OTHERWISE, OR (II) WHETHER THE OPERATION OF THE OFFERINGS WILL BE UNINTERRUPTED OR ERROR FREE. THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</p>
                                        <p>10. <span style="text-decoration: underline;">Limitation of Liability</span> IN NO EVENT SHALL BELLYBUDS (INCLUDING, FOR PURPOSES OF THIS SECTION, ITS AFFILIATES AND LICENSORS) BE LIABLE TO YOU OR ANY OTHER PERSON FOR ANY INDIRECT, CONSEQUENTIAL, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES (INCLUDING LOSS OF REVENUE OR PROFIT, LOSS OF DATA, OR LOSS OF TIME OR BUSINESS) ARISING OUT OF OR RELATING TO THIS AGREEMENT, WHETHER LIABILITY IS ASSERTED IN CONTRACT OR IN TORT (INCLUDING STRICT LIABILITY OR NEGLIGENCE) OR OTHERWISE, AND REGARDLESS OF WHETHER BELLYBUDS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  NOTWITHSTANDING ANYTHING TO THE CONTRARY, THE TOTAL MAXIMUM LIABILITY OF BELLYBUDS FOR ANY AND ALL CLAIMS, DAMAGES AND LIABILITIES ARISING OUT OF OR RELATING TO THIS AGREEMENT, WHETHER LIABILITY IS ASSERTED IN CONTRACT OR IN TORT (INCLUDING STRICT LIABILITY OR NEGLIGENCE) OR OTHERWISE, WILL IN NO EVENT EXCEED THE GREATER OF (I) THE TOTAL AMOUNT OF FEES, IF ANY, PAID TO BELLYBUDS BY YOU FOR THE APPLICATION SERVICE DURING THE 12-MONTH PERIOD PRIOR TO THE OCCURRENCE OF SUCH CLAIM, DAMAGE OR LIABILITY, LESS THE AMOUNT OF ALL CLAIMS, DAMAGES OR LIABILITIES PREVIOUSLY PAID BY BELLYBUDS DURING SUCH 12-MONTH PERIOD AND (II) US$250.  NO ACTION, SUIT OR PROCEEDING AGAINST BELLYBUDS MAY BE BROUGHT MORE THAN ONE YEAR FOLLOWING THE DATE UPON WHICH THE CLAIM FIRST AROSE. THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</p>
                                        <p>11. <span style="text-decoration: underline;">Incorporation of Terms of Use and Privacy Policy</span>. Please review Bellybuds’ <a href="http://bellybuds.com/terms-of-use/">Terms of Use</a> and <a href="http://bellybuds.com/privacy-policy/">Privacy Policy</a>, which can be found at <a href="http://bellybuds.com">www.bellybuds.com</a>, and which are incorporated herein by this reference.  The <a href="http://bellybuds.com/terms-of-use/">Terms of Use</a> provide supplemental terms and conditions to these Terms of Service, and in the event of a conflict between the <a href="http://bellybuds.com/terms-of-use/">Terms of Use</a> and these Terms of Service, these Terms of Service will take precedence.  The <a href="http://bellybuds.com/privacy-policy/">Privacy Policy</a> sets forth Bellybuds’ practices with respect to the collection, confidentiality and security of certain information you provide to Bellybuds.  The <a href="http://bellybuds.com/terms-of-use/">Terms of Use</a> and the <a href="http://bellybuds.com/privacy-policy/">Privacy Policy</a> are subject to change, modification and amendment as described in each of those respective documents.</p>
                                        <p>12. <span style="text-decoration: underline;">Indemity</span> You agree to defend, indemnify and hold harmless Bellybuds, its affiliates, licensors and service providers, and its and their respective officers, directors, employees, contractors, agents, licensors, suppliers, successors and assigns from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees) arising out of or relating to (a) your breach of any provision of this Agreement or (b) your use of the Application Service, including, but not limited to, your Voice Messages and/or the use thereof.</p>
                                        <p>13. <span style="text-decoration: underline;">Governing Law; Venue</span>. THIS AGREEMENT WILL BE GOVERNED BY AND CONSTRUED IN ACCORDANCE WITH THE INTERNAL LAWS OF THE STATE OF CALIFORNIA, WITHOUT GIVING EFFECT TO ANY CHOICE OF LAW PROVISION OR RULE (WHETHER OF THE STATE OF CALIFORNIA OR OTHERWISE).</p>
                                        <p>14. <span style="text-decoration: underline;">Binding Arbitration and Class Action Waiver</span></p>
                                        <div style="padding-left: 15px;">a. You and Bellybuds agree to arbitrate all disputes between you and Bellybuds or its affiliates, except disputes relating to the enforcement of Bellybuds’ or its affiliates’ intellectual property rights.  A “dispute” includes any dispute, action or other controversy between you and us concerning the Application Service or this Agreement, whether in contract, tort, warranty, statute or regulation, or other legal or equitable basis.</div>
                                        <br />
                                        <div style="padding-left: 15px;">b.	In the event of a dispute, you or Bellybuds must send to the other party a notice of dispute, which is a written statement that sets forth the name, address and contact information of the party giving the notice, the facts giving rise to the dispute, and the relief requested.  You and Bellybuds will attempt to resolve a dispute through informal negotiation within sixty (60) days from the date the notice of dispute is sent.  After sixty (60) days, you or Bellybuds may commence arbitration.  You may also litigate a dispute in small claims court if the dispute meets the requirements to be heard in small claims court, whether or not you negotiated informally first.</div>
                                        <br />
                                        <div style="padding-left: 15px;">c.	If you and Bellybuds do not resolve a dispute by informal negotiation or in small claims court, the dispute shall be settled by binding arbitration before a neutral arbitrator whose decision will be final except for a limited right of appeal under the U.S. Federal Arbitration Act.  YOU ARE GIVING UP THE RIGHT TO LITIGATE A DISPUTE IN COURT BEFORE A JUDGE OR JURY.  Arbitration will be administered by the American Arbitration Association (the “<span style="text-decoration: underline;">AAA</span>”) under its Commercial Arbitration Rules and its Supplementary Procedures for Consumer Related Disputes.  Arbitration may be conducted in person, through the submission of documents, by phone, or online.  The arbitrator may award damages to you individually as a court could, including declaratory or injunctive relief, but only to the extent required to satisfy your individual claim.</div>
                                        <br />
                                        <div style="padding-left: 15px;">d.	Unless the arbitrator finds the arbitration was frivolous or brought for an improper purpose, Bellybuds will pay all filing, AAA, and arbitrator’s fees and expenses.  If the arbitrator issues you an award that is greater than the value of Bellybuds’ last written settlement offer made before an arbitrator was selected (or if we did not make a settlement offer before an arbitrator was selected), then we will pay you the amount of the award or US$250, whichever is greater.</div>
                                        <br />
                                        <div style="padding-left: 15px;">e.	If you are a resident of the United States, arbitration will take place at any reasonable location convenient for you.</div>
                                        <br />
                                        <div style="padding-left: 15px;">f.	PROCEEDINGS TO RESOLVE OR LITIGATE A DISPUTE IN ANY FORUM WILL BE CONDUCTED ON AN INDIVIDUAL BASIS.  Neither you nor Bellybuds will seek to have a dispute heard as a class action, private attorney general action, or in any other proceeding in which either party acts or proposes to act in a representative capacity.  No arbitration or proceeding can be combined with another without the prior written consent of all parties to the arbitration or proceeding.  If the class action waiver is found to be illegal or unenforceable as to all or some parts of a dispute, those parts will be severed and proceed in a court of law, with the remaining parts proceeding in arbitration.</div>
                                        <p>15. <span style="text-decoration: underline;">Severability</span>. If an arbitrator or court of competent jurisdiction finds any provision of this Agreement to be unenforceable, that provision of the Agreement will be enforced to the maximum extent permissible so as to effect the intent of the parties, and the remainder of this Agreement will continue in full force and effect.</p>
                                        <p>16. <span style="text-decoration: underline;">Notices</span>. Except as otherwise provided in these Terms of Service, the <a href="http://bellybuds.com/terms-of-use/">Terms of Use</a> or the <a href="http://bellybuds.com/privacy-policy/">Privacy Policy</a>, any notice required or permitted to be given to a party under this Agreement shall be made (a) in the case of a notice to Bellybuds, by mail to 6380 Wilshire Blvd., Suite 1600, Los Angeles, California 90048 or by email to legal@bellybuds.com and (b) in the case of a notice to you, by mail or email, in each case to the address reflected in your account registration.</p>
                                        <p>17. <span style="text-decoration: underline;">Assignment</span>. You may not assign or otherwise transfer this Agreement, or any of your rights or obligations hereunder, without the prior written consent of Bellybuds. Any attempted assignment or transfer of this Agreement or any rights or obligations hereunder in violation of the preceding sentence will be void.  Subject to the foregoing, this Agreement will be binding on the parties and their respective successors and assigns.</p>
                                        <p>18. <span style="text-decoration: underline;">Interpretation</span>. Each instance in this Agreement of the words "include," "includes," and "including" will be deemed to be followed by the words "without limitation." As used in this Agreement, the term "days" means calendar days, not business days, unless otherwise specified.  All headings or section divisions contained in this Agreement are for reference purposes only and will not be construed to affect the meaning or interpretation of this Agreement.</p>
                                        <p>19. <span style="text-decoration: underline;">Force Majeure</span>. Bellybuds will not be liable for any failure or delay in performance resulting from any event beyond its reasonable control, including due to fire, flood, action or decree of civil or military authority, insurrection, act of war, terrorism, denial of service attacks, labor disputes or shortages, material shortages, power outages, failure of internet connections, failure of suppliers, or embargo.</p>
                                        <p>20. <span style="text-decoration: underline;">Waiver; Amendments</span>. No waiver of any provision of this Agreement will be effective against Bellybuds unless made in writing and signed by an officer of Bellybuds.  Bellybuds shall have the right to change, modify or amend any or all of these Terms of Service, in whole or in part, at any time, on written notice to you, which notice may be provided by posting the amendment to the VoiceShare log in or home page and/or by sending you an email alert that there has been an amendment.  Your continued use of the Application Service following the publication of such amendment shall constitute your acceptance of the amended Terms of Service.</p>
                                        <p>21. <span style="text-decoration: underline;">Entire Agreement</span>. This Agreement constitutes the entire agreement between you and Bellybuds with respect to the subject matter hereof and supersedes any and all prior representations, warranties, understandings or agreements (written or oral) between you and Bellybuds with respect to the subject matter hereof.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear_all"></div>
                    </div>
                    <div class="outside">
                        <div class="inside footer">
                            <!--BEGIN FOOTER -->
                            <div class="container footbox">
                                <div class="footInner" style="margin-left: 18%;">
                                    <div class="page"><strong>Pages:</strong></div>
                                    <div class="link">
                                        <asp:HyperLink ID="hypHome" href="http://www.bellybuds.com/" runat="server">Home</asp:HyperLink>
                                    </div>
                                    <div class="link">
                                        <asp:HyperLink ID="hypContact" href="http://www.bellybuds.com/contact/" runat="server">Contact Us</asp:HyperLink>
                                    </div>
                                    <div class="link">
                                        <asp:HyperLink ID="hypTerms" NavigateUrl="TermsOfService.aspx" runat="server">Terms of Service</asp:HyperLink>
                                    </div>
                                </div>
                                <div class="footInner">
                                    <div class="stay"><strong>Stay In Touch:</strong></div>
                                    <div class="link">
                                        <asp:HyperLink ID="hypRSS" href="http://www.bellybuds.com/feed/" runat="server">Site RSS Feed</asp:HyperLink>
                                    </div>
                                    <div class="link">
                                        <asp:HyperLink ID="hypTwitter" href="http://www.twitter.com" runat="server">Twitter</asp:HyperLink>
                                    </div>
                                    <div class="link">
                                        <asp:HyperLink ID="hypFacebook" href="http://www.facebook.com" runat="server">Facebook</asp:HyperLink>
                                    </div>
                                </div>
                                <div style="margin-left: -30px;"><strong>&copy; 2016 BellyBuds</strong></div>
                            </div>
                            <!--END OF FOOTER -->
                            <div class="clear_all"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15214788-2']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
