﻿.container {
    width: 525px;
    text-align: center;
    margin: auto;
}

.footInner {
    width: 525px;
    height: 40px;
}

.page {
    float: left;
    margin: 5px;
    width: auto;
    padding-left: 25px;
}

.link {
    float: left;
    margin: 5px;
    width: auto;
}

.stay {
    float: left;
    margin: 5px;
    width: auto;
    padding-left: 100px;
}

.pill {
    -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
}
