﻿.container {
    width: 320px;
    float: right;
    font-family: 'Myriad Pro', 'Gill Sans', 'Century Gothic';
    background-color: rgba(200, 200, 200, 0.6);
    padding: 10px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 114px;
    left: -100px;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

hr.hline_color {
   background:#CFF;
   height:2px;
}
