﻿*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: url('../images/BB.EXT_2778.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Myriad Pro', 'Gill Sans', 'Century Gothic';
    font-style: normal;
    -webkit-font-variant: normal;
    -moz-font-variant: normal;
    -ms-font-variant: normal;
    -o-font-variant: normal;
    font-variant: normal;
    font-weight: normal;
}

.custom-well {
    min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
    background-color: #c8c8c8;
    background-color: rgba(244, 240, 238, 0.9);
  /*background-color: #f5f5f5;*/
  /*border: 1px solid #e3e3e3;*/
    -ms-border-radius: 4px;
    border-radius: 4px;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
}

.ghost-button {
  display: inline-block;
  width: 100%;
  padding: 8px;
  color: rgb(84, 100, 110);
  border: 1px solid rgb(84, 100, 110);
  text-align: center;
  outline: none;
  text-decoration: none;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
}

/*.background {
    background: url('../images/NewLogin.jpg');
    font-family: 'Myriad Pro', 'Gill Sans', 'Century Gothic';
    font-style: normal;
    -webkit-font-variant: normal;
    -moz-font-variant: normal;
    -ms-font-variant: normal;
    -o-font-variant: normal;
    font-variant: normal;
    font-weight: normal;
    Rex - 1/19/2016
    width: 1024px;
    height: 768px;
}*/

/*#wrapper {
    /*Rex - 1/19/2016
    width: 1024px;
    height: 768px;*/
    /*background: url('../images/BB.EXT_2778.jpg');
    background-repeat: no-repeat;
    background-position: top;
    -ms-background-size: 100%;
    background-size: 100%;
    height: auto;
    width: auto;
    margin: auto;
}*/

/*.content {
    width: 675px;
    height: 628px;
    float: left;
}*/

/*.top {
    width: 1024px;
    height: 150px;
}*/

/*.right {
    width: 349px;
    height: 628px;
}*/

/*.center {
    margin: 0 auto;
    width: 80%;
}*/

input[type="text"] {
    text-align: center;
    font-size: 16px;
    height: 30px;
    width: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

input[type="password"] {
    font-size: 16px;
    text-align: center;
    height: 30px;
    width: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

input[type="email"] {
    font-size: 16px;
    text-align: center;
    height: 30px;
    width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

input[type="dropdownlist"] {
    height: 30px;
    width: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

/*Login Content Place Holder*/

.box {
    width: 100%;
    height: 100%;
    margin: auto;
}

.login {
    background-color: #c8c8c8;
    background-color: rgba(200, 200, 200, 0.6);
    font-size: 12px;
    width: 200px;
    position: relative;
    top: -42px;
    left: 349px;
    /*Rcampbell - 8/2/2013*/
    /*overflow: auto;*/
    padding: 10px;
}

.button_collection_container {
    width: 200px;
}

.login_btn_container {
    float: right;
    width: 70px;
    margin-right: 35px;
}

.register_btn_container {
    width: 75px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

.forgot_btn_container {
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

.clear_all {
    clear: both;
}

.login_button {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px;
    -ms-text-shadow: 0px 0px 0px #1e1e1e;
    -ms-text-shadow: 0px 0px 0px rgba(30, 30, 30, 0.8);
    text-shadow: 0px 0px 0px #1e1e1e;
    text-shadow: 0px 0px 0px rgba(30, 30, 30, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: rgb(117, 206, 126);
    background: -moz-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: -webkit-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: -o-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: -ms-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: linear-gradient(0deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}

.redirect_link {
    padding: 10px;
    font-weight: bold;
}

.redirects {
    width: 200px;
    position: relative;
    top: 73px;
    left: 64px;
}

.login_labels {
    text-align: right;
    float: left;
    padding-top: 6px;
}

.login_labels_user {
    text-align: right;
    float: left;
    padding-top: 6px;
    padding-left: 13px;
}

.statement {
    position: relative;
    width: 450px;
    top: 4px;
    left: 74px;
}

.summary {
    text-align: center;
    width: 100%;
}

.textboxes {
    text-align: center;
}

.title {
    font-weight: bold;
    padding-bottom: 10px;
}

/*Register Content Place Holder*/

.button {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px;
    -ms-text-shadow: 0px 0px 0px #1e1e1e;
    -ms-text-shadow: 0px 0px 0px rgba(30, 30, 30, 0.8);
    text-shadow: 0px 0px 0px #1e1e1e;
    text-shadow: 0px 0px 0px rgba(30, 30, 30, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: rgb(117, 206, 126);
    background: -moz-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: -webkit-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: -o-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: -ms-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: linear-gradient(0deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    -webkit-box-shadow: 0px 0px 1px #323232;
    -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 1px #323232;
    -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 0px 0px 1px #323232;
    -ms-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 1px #323232;
    box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}

.depressed_btn {
    color: rgb(230, 230, 230);
    font-size: 14px;
    padding: 10px;
    -ms-text-shadow: 0px 0px 0px #1e1e1e;
    -ms-text-shadow: 0px 0px 0px rgba(30, 30, 30, 0.8);
    text-shadow: 0px 0px 0px #1e1e1e;
    text-shadow: 0px 0px 0px rgba(30, 30, 30, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: rgb(117, 206, 126);
    background: -moz-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: -webkit-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: -o-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: -ms-linear-gradient(90deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    background: linear-gradient(0deg, rgb(117, 206, 126) 30%, rgb(117, 206, 126) 70%);
    -webkit-box-shadow: 0px 0px 1px #323232;
    -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 1px #323232;
    -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 0px 0px 1px #323232;
    -ms-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 1px #323232;
    box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}

.left_column {
    margin-left: 19px;
    width: 175px;
    float: left;
}

.right_column {
    margin-right: 19px;
    width: 175px;
    float: right;
}

.center {
    padding: 5px;
}

.reg_box {
    background-color: #c8c8c8;
    background-color: rgba(200, 200, 200, 0.6);
    font-size: 12px;
    height: 385px;
    width: 400px;
    position: relative;
    /*overflow: auto;*/
    top: -92px;
    left: 260px;
}

.access_code {
    margin-top: 15px;
    text-align: center;
    width: 400px;
    clear: both;
}

.reg_cell_center {
    margin: 5px;
    text-align: center;
    width: 396px;
}

.reg_cell_center_submit {
    margin: 5px;
    text-align: center;
    width: 396px;
    padding-right: 15px;
}

.reg_cell_left {
    float: left;
    margin: 5px;
    height: 34px;
    width: 154px;
}

.reg_cell_right {
    float: right;
    margin: 5px;
    height: 34px;
    width: 154px;
}

.email_container {
    width: 100%;
}

.email_row_top {
    margin-top: 2px;
    text-align: center;
}

.email_row_bottom {
    margin-top: 10px;
    margin-bottom: 2px;
    text-align: center;
}

/*Outside of register box CSS*/

.hidden {
    display: none;
}

.reg_redirects {
    width: 200px;
    position: relative;
    top: 66px;
    left: 64px;
}

.reg_redirect_link {
    padding: 10px;
    font-weight: bold;
}

.error_container {
    width: 200px;
    display: block;
    font-size: 12px;
    position: relative;
    top: -308px;
    left: 61px;
    overflow: auto;
}
