﻿.header {
    background-color: rgba(200, 200, 200, 0.9);
    width: 100%;
    font-family: 'Myriad Pro', 'Gill Sans', 'Century Gothic';
    text-align: center;
    overflow: auto;
    padding: 5px;
}

.content {
    background-color: rgba(200, 200, 200, 0.9);
    width: 100%;
    position: relative;
    padding: 10px 5px;
    overflow: auto;
}

.modal_image_left {
    float: left;
    margin: 15px 10px;    
}

.modal_image_right {
    float: right;
    margin-right: 10px;
    margin-bottom: 25px;
    overflow: auto;
}

.row_pull_left {
    background-color: #ffffff;
    width: 70%;
    padding: 2px;
    margin-left: 10px;
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
}

.row_pull_left_bottom_row {
    background-color: #ffffff;
    width: 70%;
    padding: 2px;
    margin-left: 10px;
    margin-top: 60px;
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
}

.row_pull_right {
    background-color: #ffffff;
    width: 70%;
    margin: 50px 10px 15px 10px;
    padding: 2px;
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: right;
}

.title {
    font-size: 24px;
    padding-top: 20px;
}

.audio {
    text-align: center;
}

a {color: #444444 !important; font-size: 0.9em;}
a:hover {color: #444444 !important; text-decoration: underline; font-size: 0.9em;}

.welcome_chkbox {
    background-color: #ffffff;
    padding: 2px;
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 10px;
}

#welcomeWrapper {
    width: 810px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}